html{
	background-color:#2F2F2F;
}

body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}


#header {
	height:80px;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    text-align:center;
    border-bottom: 2px solid hsl(180,70%,55%);
    /* top: 0px;
	height: 100%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
    text-align:center; */
}
/* footer {
    height:20px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:red;
} */
/* #footer {
	margin-left:20%;
    left: 0px;
    bottom: 0px;
    width: 80%;
	height: 10%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
	padding-top:20px;   
    text-align:center;
} */




.logo{
	float:left;
}

#site-content {
    /* height: 100%;
    width:100%;
   overflow:auto;
    float: left;
     z-index: 20; 
    position: absolute;
    min-height: 600px;
    padding-top: 64px;
    padding-left: 90px; */
     overflow:auto;
    position:absolute;
    top:80px; /* make this equal to the height of your header tag */
    bottom:20px; */ /* make this equal to the height of your footer tag */
    left:0 !important;
    right:0;
}
    
