body{ background:#00376d;}
.header_bg{background: #ffffff;    padding: 10px;	position:fixed; top:0px; width:100%;     z-index: 999;}
.header_bg img { width:250px;}
.feedback_heading { color:#ffffff; margin-bottom:20px;}
form { background:rgba(255,255,255,1); padding:20px; border-radius:5px; min-height: 1000px;  z-index:99;}		
.questions li { padding:10px; font-weight:bold;} 
.questions li label { font-weight:normal;}
.radio-inline, .checkbox-inline {    padding: 10px 25px; margin-left: 0px !important;}
.feedback_btn{ list-style:none;}
.feedback_btn:before{ content:"";}		
#msform {position: relative;}
#msform fieldset {background: white;border: 0 none;border-radius: 3px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);padding: 20px 30px;box-sizing: border-box;width: 80%;margin: 0 10%;position: relative;	}		
.questions>li:not(:first-of-type) {display: none;}		
#msform input, #msform textarea {padding: 15px;border: 1px solid #ccc;border-radius: 3px;margin-bottom: 10px;box-sizing: border-box;color: #2C3E50;font-size: 13px;	}		
#msform .action-button {width: 100px;background: #00376d;font-weight: bold;color: white;border: 0 none;	border-radius: 1px;	cursor: pointer;padding: 10px 5px;margin: 10px 5px;	}
#msform .action-button:hover, #msform .action-button:focus {box-shadow: 0 0 0 2px white, 0 0 0 3px #00376d;	}	
.fs-title {font-size: 15px;text-transform: uppercase;color: #2C3E50;margin-bottom: 10px;}
.fs-subtitle {font-weight: normal;	font-size: 13px;color: #666;margin-bottom: 20px;}		
#progressbar {margin-bottom: 30px;overflow: hidden;	counter-reset: step;}
#progressbar li {list-style-type: none;	color: white;text-transform: uppercase;font-size: 9px;width: 20%;float: left;position: relative;text-align:center;}
#progressbar li:before {content: counter(step);	counter-increment: step;width: 20px;line-height: 20px;display: block;font-size: 10px;color: #333;background: #f0f0f0;border-radius: 3px;margin: 0 auto 5px auto;z-index:-9999;	}	
#progressbar li:after {	content: '';width: 100%;height: 2px;background: #f0f0f0;position: absolute;	left: -50%;	top: 9px;z-index: -999;	}
#progressbar li:first-child:after {	content: none; 	}		
#progressbar li.active:before,  #progressbar li.active:after{	background: #00376d;	color: white;}		
.others_textbox {display:none;    padding: 5px;    float: right;    margin-top: 5px;    margin-left: 5px; position:absolute; top:-6px; left:70px;}
@media only screen and ( max-width:1200px){	.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline { margin-left:0px;}	}
@media only screen and ( max-width:585px){ .others_textbox { position:inherit; top:inherit; left:inherit;     width: 100%;}}



