.menus {
	margin-left: 107px;
	margin-top: 15px;
}

.homes {
	color: FFFFFF;
	font-size: 14px;
	padding: 5px;
}

.heading {
	margin-top: -52px;
	text-align: center;
	margin-left: -10px;
	border-bottom: 1px solid #cccccc;
}

.pdflink {
	margin-left: 1000px;
	margin-top: -29px;
}

.reportlink {
	display: none; margin-left : 1000px;
	margin-top: -37px;
	margin-left: 1000px;
}

.ragscoreImg {
	width: 25px;
	height: 25px;
	margin-left: 25px;
}

.pageLayout {
	padding-left: 20px !important;
	padding-top: 81px;
}

.title {
	margin-top: -52px;
	text-align: center;
	margin-left: -10px;
	border-bottom: 1px solid #cccccc
}

.top3Table {
	display: none;
	width: 385px;
	align: center;
	margin-left: 707px;
	margin-top: -183px;
	border: 1px solid #cccccc;
}

.lightbgcolor {
	background-color: #f3f3f3;
}

.darkbgcolor {
	background-color: #cccccc;
	
}

.o-npstable {
	display: none;
	width: 385px;
	margin-left: 350px;
	margin-top: 20px;
	border: 1px solid #cccccc;
}

.imgCode {
	width: 52px;
	height: 48px;
}

.imgCodeNetural {
	width: 38px;
	height: 34px;
}

.imgCodeDetractor {
	width: 34px;
	height: 34px;
}

.centerTable {
	display: none;
	border: 1px solid #cccccc;
	table-layout: fixed;
	width: 815px;
	margin-left: 134px;
}

.r-table {
	display: none;
	border: 1px solid #cccccc;
	table-layout: fixed;
}

.r-top3 {
	display: none;
	width: 385px;
	align: center;
	margin-left: 707px;
	margin-top: -64px;
	border: 1px solid #cccccc;
}

overAllNps {
	display: none;
	align: center;
	border: 1px solid #cccccc;
	width: 430px;
	margin-left: 315px;
	margin-top: 36px;
}



.Tablealign {
	display: none;
	width: 385px;
	align: center;
	margin-left: 6px;
	border: 1px solid #cccccc;
}

.footerCode {
	color: white;
	margin-left: 604px;
}
/* -------------------------STYLES FOR PDF REPORTS -------------------*/
.contentSectionAlign {
	width: 953px;
	margin-left: 20px;
}

.ConfidentialityNote {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.paragraph {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
	text-align: justify;
	text-justify: inter-word;
}

.footerstyle {
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
		sans-serif;
	text-align: justify;
	text-justify: inter-word;
}

.titlestyle {
	text-align: center;
	margin-left: 10px;
	margin-top: 31px;
	border-bottom: 1px solid #cccccc;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.npstitle {
	height: 54px;
	background-color: #cccccc;
	border-bottom: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
}

.npsborder {
	height: 54px;
	border-bottom: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
}

.npscolor-red {
	background-color: #fb4e4e;
}

.npscolor-yellow {
	background-color: #FFC200;
}

.npscolor-green {
	background-color: #89d089;
}

.top3 {
	display: none;
	width: 385px;
	align: center;
	margin-left: 612px;
	margin-top: -249px;
	border: 8px solid #cccccc;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.top3-border {
	border-bottom: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
}

.respondent-top3 {
	display: none;
	width: 385px;
	align: center;
	margin-left: 612px;
	margin-top: -51px;
	border: 8px solid #cccccc;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.overall {
	display: none;
	border: 8px solid #cccccc !important;
	table-layout: fixed;
	width: 387px;
	margin-left: -1px;
	margin-top: 33px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.nps {
	display: none;
	width: 385px;
	align: center;
	margin-left: -1x;
	margin-top: 20px;
	border: 8px solid #cccccc;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.overallnpstable {
	display: none;
	width: 385px;
	align: center;
	margin-left: 296px;
	margin-top: 20px;
	border: 8px solid #cccccc;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ragscoreimg {
	width: 25px;
	height: 25px;
	margin-left: 45px;
}

.data-center {
	border-bottom: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
	text-align: center;
}

.tablestyle {
	display: none;
	margin-left: -1px;
	margin-top: 28px;
	width: 1000px;
	table-layout: fixed;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.question-row {
	height: 50px;
	border-bottom: 2px solid #f3f3f3;
	background-color: #cccccc;
}

.highlight-td {
	height: 50px;
	background-color: #f3f3f3;
}

.ClientSatisfactionSurvey {
	color: white;
	font-size: 23px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding-left: 11px;
}

.img-clientsatisfaction {
	width: 1000px;
	height: 489px;
	margin-left: -1px;
}

.voiletbackground {
	background-color: rgba(24, 24, 160, 0.68);
	width: 1000px;
	margin-left: -1px;
	height: 256px;
	margin-top: -23px
}

.clientsurvey {
	color: white;
	font-size: 23px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 204px 11px;
}

.totalcount {
	height: 50px;
	border-bottom: 2px solid #f3f3f3;
	border-left: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
}